<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2010 The RCER Development Team.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Volker Wegert <rcer@volker-wegert.de> - initial API and implementation
 -->
<!-- $Id$ -->
<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="rfcgen"
              icon="icons/rcer.gif"
              id="net.sf.rcer.rfcgen.RFCMapping"
              name="%editor.name">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="net.sf.rcer.rfcgen.RFCMapping.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="net.sf.rcer.rfcgen.RFCMapping.validate">
         <activeWhen>
            <reference
                    definitionId="net.sf.rcer.rfcgen.RFCMapping.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="net.sf.rcer.rfcgen.RFCMapping.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="net.sf.rcer.rfcgen.RFCMapping" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="net.sf.rcer.rfcgen.RFCMapping"
            name="%preferences.root.name"
            category="net.sf.rcer.conn.ui.preferences.TopLevelPreferencePage">
            <keywordReference id="net.sf.rcer.rfcgen.ui.keyword_RFCMapping"/>
        </page>
        <page
            category="net.sf.rcer.rfcgen.RFCMapping"
            class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="net.sf.rcer.rfcgen.RFCMapping.coloring"
            name="%preferences.coloring.name">
            <keywordReference id="net.sf.rcer.rfcgen.ui.keyword_RFCMapping"/>
        </page>
        <page
            category="net.sf.rcer.rfcgen.RFCMapping"
            class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="net.sf.rcer.rfcgen.RFCMapping.templates"
            name="%preferences.templates.name">
            <keywordReference id="net.sf.rcer.rfcgen.ui.keyword_RFCMapping"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="net.sf.rcer.rfcgen.ui.keyword_RFCMapping"
            label="%keyword.label"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="%commands.validate.description"
            id="net.sf.rcer.rfcgen.RFCMapping.validate"
            name="%commands.validate.name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="net.sf.rcer.rfcgen.RFCMapping.validate"
                 style="push"
                 tooltip="%commands.validate.tooltip">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="net.sf.rcer.rfcgen.RFCMapping.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="net.sf.rcer.rfcgen.RFCMapping.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="net.sf.rcer.rfcgen.RFCMapping.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>  
    
<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="rfcgen">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="rfcgen">
        </resourceServiceProvider>
    </extension>




	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="net.sf.rcer.rfcgen.RFCMapping.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="net.sf.rcer.rfcgen.RFCMapping.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="net.sf.rcer.rfcgen"
            class="net.sf.rcer.rfcgen.ui.RFCMappingExecutableExtensionFactory:net.sf.rcer.rfcgen.ui.wizard.ExtendedRFCMappingNewProjectWizard"
            icon="icons/rcer.gif"
            id="net.sf.rcer.rfcgen.ui.wizard.ExtendedRFCMappingNewProjectWizard"
            name="%wizard.name"
            project="true">
      </wizard>
      <category
            id="net.sf.rcer.rfcgen"
            name="%wizard.category.name">
      </category>
   </extension>

</plugin>
