<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="net.sf.rcer"
            name="%wizard.category">
      </category>
      <wizard
            category="net.sf.rcer"
            class="net.sf.rcer.jcoimport.JCoImportWizard"
            icon="icons/rcer.gif"
            id="net.sf.rcer.jcogen.JCoImportWizard"
            name="%wizard.name">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
</plugin>
